
      <div class="card gap">
        <div class="content">
          <div class="header">
            <div *ngFor="let of of offers">
              <div *ngIf="appointment?.offer_id == of.id">{{of.title}}</div>
            </div>
          </div>
          <div class="description">
            <div>Angebot Nr.:{{appointment?.offer_id}}</div>
          </div>
          <br>
          <div class="description">
            <b>{{appointment?.date | date: 'dd.MM.yyyy'}}</b> <br>
            {{ appointment?.begin | date: 'HH:mm' }} bis {{ appointment?.end | date: 'HH:mm'}} Uhr
          </div>
        </div>
      </div>
