<div class="ui container">
  <div class="ui text container">
    <div class="ui grid">
      <div class="eight wide column padding ">
        <h1 class="ui header left aligned"> Willkommen bei RocketStudent</h1>
        <h2 class="ui header left aligned">Lass uns gemeinsam durch die Decke gehen!</h2>
        <br>
        <a routerLink="../offers" class="ui orange button">Alle Angebote ansehen</a>
      </div>
      <div class="eight wide column">
        <img class="medium ui image center" src="assets/rocket.png">

      </div>
    </div>
  </div>

</div>
